body{
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
    overflow-x:hidden;
 

}
/* NAVBARI */
.btn-secondary {
    color: #fff;
    background-color:red;
    border-color: #0066CC;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #0066CC;
    border-color: #0066CC;
}
.navbar-nav{
    margin-right: 50px;
}
.nav-item{
    margin-right: 5px;
}

.bg-dark {
    background-color: #051c2d !important;
}
.mr-auto,
.mx-auto {
    margin-left: auto !important;
}
.carousel-control-prev-icon{
    color: #000 !important;
    margin-right: 3px !important;
    
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline-success {
    color: #fff;
    border-color: #fff;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #0066CC;
    border-color: #0066CC;
}
a:hover{
	color: #000;
}
.more{
	color: #0066CC;
}
.more:hover{
	color: #0066CC;
}
.headlines{
	border-radius: 5px;
}
.ndeshjet {
	padding: 70px 0 60px;
}

.permbajtja h4 {
	color: #fff;
	font-weight: 500;
	margin-bottom: 25px;
}

.permbajtja .tabela {
	margin-bottom: 10px;
}

.permbajtja .tabela table {
	width: 100%;
}

.permbajtja .tabela table tr {
    /* background: rgba(21, 22, 24, 0.9); */
    background: #fff;
    box-shadow: 0 0 10px 0 hsla(0,0%,81.6%,.5);
    
	margin-bottom: 10px;
	/* border-radius: 5px; */

}

.permbajtja .tabela table tr td {
	padding: 16px 0;
	width: 200px;
	border-radius: 5px;

}

.permbajtja .tabela table tr td img {
	height: 50px;
	width: 50px;
}

.permbajtja .tabela table tr td h6 {
	color: #000;
	display: inline-block;
}

.permbajtja .tabela table tr td.ekipa-e-majt {
	padding-left: 40px;
}

.permbajtja .tabela table tr td.ekipa-e-majt img {
	float: left;
	margin-right: 10px;
}

.permbajtja .tabela table tr td.ekipa-e-majt h6 {
	overflow: hidden;
    line-height: 45px;
}

.permbajtja .tabela table tr td.ekipa-e-djathte {
	text-align: right;
	padding-right: 40px;
}

.permbajtja .tabela table tr td.ekipa-e-djathte img {
	float: right;
	margin-left: 10px;
}

.permbajtja .tabela table tr td.ekipa-e-djathte h6 {
	float: right;
	line-height: 45px;
}

.permbajtja .tabela table tr td.mesi {
	width: 150px;
	text-align: center;
}

.permbajtja .tabela table tr td.mesi .teksti {
	font-size: 14px;
	color: #000;
}

.permbajtja .tabela table tr td.mesi h4 {
	color: #000;
	font-weight: 700;
	margin-top: 14px;
	margin-bottom: 12px;
}

a{
	color: #000;
}
.teksti{
	font-weight: bold;
}
.headlines{
    box-shadow: 0 0 10px 0 hsla(0,0%,81.6%,.5);
	
}
.fundi{
    color: #fff;
    border-top: 1px solid #fff !important;
}
.fundi2{
    color: #fff !important;
}
.fundi22{
    color: #fff !important;
    margin-left: 40px;
    font-size: 25px;
}
.btn-primary:hover{
    background-color: #0066CC !important;
}




